<div class="button-box">
    <p>Don't like our pick?</p>

    <a href="#terms" id="modalButton" class="pick-settings modal-trigger">Change Settings</a>
    <div class="modal" id="terms">
        <div class="modal-content">
            <h4><i>My Pick Settings</i></h4>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6" id="location">
                            <i class="material-icons prefix">home</i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Location</label>
                        </div>
                        <div class="input-field col s6" id="rottenTomatoes">
                            <i class="material-icons prefix">theaters</i>
                            <input id="icon_telephone" type="text" class="validate">
                            <label for="icon_telephone">Rotten Tomatoes Minimum Score</label>
                        </div>
                    </div>
                </form>
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6" id="waitTime">
                            <i class="material-icons prefix">access_time</i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Max Wait Time</label>
                        </div>
                        <div class="input-field col s12" id="genre">
                            <select multiple>
                                <option value="" disabled>Choose your favorite genres</option>
                                <option value="1">Action</option>
                                <option value="2">Adventure</option>
                                <option value="3">Comedy</option>
                                <option value="4">Crime and Gangster</option>
                                <option value="5">Drama</option>
                                <option value="6">Epics/Historical</option>
                                <option value="7">Horror</option>
                                <option value="8">Musicals</option>
                                <option value="9">Science Fiction</option>
                                <option value="10">War</option>
                                <option value="11">Westerns</option>
                            </select>
                            <label>Genres</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="" id="submit" class="modal-close pick-form-btn">Submit</a>
        </div>
    </div>


    {{!--
    <button class="pick-settings" href="#terms">Change settings</button> --}}
</div>