<div class="fp-container">
  <div class="top-content">
    <div class="left">
      <div class="screen-wrapper">
        <div class="screen">
          <div id="pick-title">The Incredibles 2</div>
          <div id="pick-rating">PG</div>
        </div>
      </div>
      <div class="pick-genres">
        <span class="genre-tab">Genres:</span>
        <span id="pick-genre-list">Action &amp; Adventure, Animation, Kids &amp; Family</span>
      </div>
      <div class="caption">
        <p>
          <b>Synopsis:</b>
          <span id="pick-synopsis">Everyone's favorite family of superheroes is back in "Incredibles 2"--but this time Helen (voice of Holly Hunter)
            is in the spotlight, leaving...</span>
        </p>
      </div>
      <div class="mobile-only">{{> change-settings}}</div>
    </div>
    <div class="right">
      <div class="pick-showtime">
        Next showtime:
        <div id="pick-time">7:45</div>
        at
        <div id="pick-place">Rutgers Coding Bootcamp Cinema</div>
        <span class="pick-route">Get route
          <i class="fas fa-location-arrow" style="font-size: .8em;"></i>
        </span>
      </div>
      <div class="pick-RT">
        <div class="RT-logo">
          <a href="https://rottentomatoes.com" target="_blank">
            <img src="../images/RottenTomatoesLogo.png" style="width: 90%; padding: 8px">
          </a>
        </div>
        <div class="pick-critic-box">
          <div id="pick-critic-score">
            93%
          </div>
          critic score
        </div>
        <div class="pick-audience-box">
          <div id="pick-audience-score">
            85%
          </div>
          audience score
        </div>
      </div>
    </div>


  </div>

  <div class="more">
    <h2>More Flicks...</h2>
  </div>
</div>

<script src="/js/index.js"></script>