<div class="fp-container">
  <div class="top-content">
    <div class="left">
      <div class="screen-wrapper">
        <div class="no-match">
          <h1>I'm sorry, we couldn't pick a flick that matches your settings. :(</h1>
        </div>
        <div class="screen">
          <div id="pick-title">Loading...</div>
          <div id="pick-rating"></div>
        </div>
      </div>
      <div class="under-screen-wrapper">
        <div class="pick-genres">
          <div class="genre-tab">Genres:</div>
          <span id="pick-genre-list"></span>
        </div>
        <div class="caption">
          <p>
            <b>Synopsis:</b>
            <span id="pick-synopsis">...</span>
          </p>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="pick-showtime">
        Next showtime:
        <div id="pick-time">00:00</div>
        at
        <div id="pick-place">a theater near you</div>
        <div id="pick-route">
          <a id="pick-route-link" href="/" target="_blank">
            <i class="fas fa-location-arrow"></i>
            Get route
          </a>
        </div>
        <span id="pick-tickets">
          <a id="pick-tickets-link" href="/" target="_blank">
            <i class="fas fa-ticket-alt"></i>
            Get tickets
          </a>
        </span>
      </div>
      <div class="pick-RT">
        {{!--
        <div class="RT-logo">
          <a href="https://rottentomatoes.com" target="_blank">
            <img src="../images/RottenTomatoesLogo.png" style="width: 90%; padding: 8px">
          </a>
        </div> --}}
        <div class="pick-critic-box">
          <h3>Critic Score</h3>
          <div id="pick-critic-score">
            0%
          </div>

          <span class="footnote">* from Rotten Tomatoes, Metacritic, or IMDB respectively.</span>
        </div>
        {{!--
        <div class="pick-audience-box">
          <div id="pick-audience-score">
            0%
          </div>
          audience score
        </div> --}}
      </div>
    </div>


  </div>

  <div class="more">
    <h2>More Flicks...</h2>

    <div class="fp-container">
      <!-- cards -->

      <!-- card1 -->
      <div class="row">
        <div class="col s12 m6 l4">
          <div class="card" id="card1">
            <div id="op1-img" class="card-image">
              <div id="op1-rating" class="card-rating">--</div>
            </div>
            <div class="card-content">
              <span id="op1-title" class="card-title">Loading...</span>
              <p id="op1-synopsis"></p>
            </div>
            <div class="card-action">
              <p>NEXT SHOWTIME:
                <div id="op1-time">00:00</div>
              </p>
              <p>at
                <span id="op1-place">a theater near you</span>
              </p>
              <p>CRITIC SCORE:
                <span id="op1-critic-score">0%</span>
              </p>
              {{!--
              <p>AUDIENCE SCORE:
                <span id="op1-audience-score">0%</span>
              </p> --}}
              <div class="card-links">
                <a id="op1-route" href="/" target="_blank">GET ROUTE</a>
                <a id="op1-tix" href="/" target="_blank">GET TICKETS</a>
              </div>
            </div>
          </div>
        </div>

        <!-- card2 -->
        <div class="col s12 m6 l4">
          <div class="card" id="card2">
            <div id="op2-img" class="card-image">
              <div id="op2-rating" class="card-rating">--</div>
            </div>
            <div id="op2-img" class="card-content">
              <span id="op2-title" class="card-title">Loading...</span>
              <p id="op2-synopsis"></p>
            </div>
            <div class="card-action">
              <p>NEXT SHOWTIME:
                <div id="op2-time">00:00</div>
              </p>
              <p>at
                <span id="op2-place">a theater near you</span>
              </p>
              <p>CRITIC SCORE:
                <span id="op2-critic-score">0%</span>
              </p>
              {{!--
              <p>AUDIENCE SCORE:
                <span id="op2-audience-score">0%</span>
              </p> --}}
              <div class="card-links">
                <a id="op2-route" href="/" target="_blank">GET ROUTE</a>
                <a id="op2-tix" href="/" target="_blank">GET TICKETS</a>
              </div>
            </div>
          </div>
        </div>

        <!-- card3 -->
        <div class="col s12 m6 l4">
          <div class="card" id="card3">
            <div id="op3-img" class="card-image">
              <div id="op3-rating" class="card-rating">--</div>
            </div>
            <div class="card-content">
              <span id="op3-title" class="card-title">Loading...</span>
              <p id="op3-synopsis"></p>
            </div>
            <div class="card-action">
              <p>NEXT SHOWTIME:
                <div id="op3-time">00:00</div>
              </p>
              <p>at
                <span id="op3-place">a theater near you</span>
              </p>
              <p>CRITIC SCORE:
                <span id="op3-critic-score">0%</span>
              </p>
              {{!--
              <p>AUDIENCE SCORE:
                <span id="op3-audience-score">0%</span>
              </p> --}}
              <div class="card-links">
                <a id="op3-route" href="/" target="_blank">GET ROUTE</a>
                <a id="op3-tix" href="/" target="_blank">GET TICKETS</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/index.js"></script>