body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(220,221,225);
  }

  main {
    flex: 1 0 auto;
  }

  h1 {
      text-align: center;
  }

  p {
    margin: auto;
  }
  #nav2 {
    height: 6px;

  }
  #modalTitle{
    text-align: center;
  }

  #location{
    text-align: center;
  }
  #rtTitle {
    margin: auto;
    text-align: center;
  }

  #select {
    margin: auto;
    text-align: left;
  }

 