@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Limelight');

* {box-sizing: border-box}

body {
  font-family: 'Lato', 'Verdana', Helvetica, Arial, sans-serif;
  color: lightgrey;
  font-size: 18px;
  background-color: #222020;
}

h1 {
  font-family: 'Limelight', Impact;
  font-size: 2em;
  letter-spacing: 1px;
}

h2 {
  font-size: 30px;
  color: #fff;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 1), 2px 2px 0px rgba(0, 0, 0, 1), -2px 2px 0px rgba(0, 0, 0, 1);
  font-style: italic;
  letter-spacing: 2px;
}

img {
  max-width: 100%;
}

a,
a:hover,
button,
button:hover {
  -webkit-transition: .25s; /* Safari */
    transition: .25s;
}

header {
  text-align: left;
  margin-bottom: 15px;
  width: 100%;
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

header h1 {
  color: #ffc400;
  font-size: 2.2em;
  margin: 10px;
}

.fp-container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.button-box {
  color: grey;
  font-size: .8em;
  display: flex;
  margin: 12px 12px 0;
  justify-content: flex-end;
}

button.pick-settings {
  font-weight: bold;
  color: #222;
  border-radius: 6px;
  background-color: #005285;
  border: none;
  height: 45px;
  padding: 5px 10px;
  margin: 0 12px;
}

button.pick-settings:hover{
  background-color: rgb(80, 188, 255);
  box-shadow: 0px 0px 2px rgba(116, 202, 255, 1);
}

.top-content {
  width: 100%;
  margin: auto;
  display: flex;
  min-height: 400px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.top-content .left {
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
}

.top-content .right {
  width: 100%;
  max-width: 210px;
  text-align: center;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.pick-showtime { 
  color: lightgray;
  background-color: rgba(128, 128, 128, 0.2);
  width: 100%;
  padding: 12px;
}
#pick-time {
  color: #fff;
  font-size: 1.8em;
  padding: 5px;
}
#pick-place {
  color: #fff;
  font-size: 1.25em;
  padding: 5px;
}

.pick-RT {
  width: 100%;
  height: auto;
  background-color: rgba(194, 41, 41, 0.3);
  padding: 8px;
}
.pick-critic-box,
.pick-audience-box{
  padding-bottom: 8px;
}
#pick-critic-score,
#pick-audience-score {
  font-size: 1.8em;
}

.top-content .caption {
  font-size: 17px;
  background-color: rgba(128, 128, 128, 0.2);
  padding: 5px 8px;
}

.screen {
  width: 100%;
 height: 400px;
 padding-top: 56.25%;;
  background-color: #000;
  background-image: url("../images/placeholder.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.screen-wrapper {
  width: 100%;
  height: 400px;
  padding-bottom: 56.25%;
}

#pick-title {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 1), 2px 2px 0px rgba(0, 0, 0, 1), -2px 2px 0px rgba(0, 0, 0, 1);
  position: absolute;
  top: 5px;
  left: 8px;
  letter-spacing: 1px;
}

.pick-genres {
  width: 100%;
  color: #000;
  font-size: 15px;
  font-style: italic;
  background-color: rgb(0, 77, 125);
  padding: 5px 0;
  text-align: left;
  overflow: hidden;
}
.genre-tab {
  background-color: rgb(0, 92, 148);
  padding: 5px 10px 5px 20px;
}
#pick-genre-list {
  padding-left: 10px;
}

.pick-route {
  text-align: right;
  font-style: italic;
  font-size: 1.2em;
  padding: 5px 25px;
}

.pick-route, .pick-route a {
  color: rgb(28, 187, 255);
}
.pick-route:hover, .pick-route a:hover {
  color: rgb(116, 202, 255);
  text-shadow: 0px 0px 2px rgba(116, 202, 255, 1);
}

#pick-rating {
  position: absolute;
  font-family: 'Lato';
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  height: 70px;
  width: 70px;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more {
  display: flex;
  border-top: 8px #ffc400 solid;
  background: rgb(89,0,14); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(89,0,14,1) 0%, rgba(109,0,25,1) 16%, rgba(143,2,34,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(89,0,14,1) 0%,rgba(109,0,25,1) 16%,rgba(143,2,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(89,0,14,1) 0%,rgba(109,0,25,1) 16%,rgba(143,2,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000e', endColorstr='#8f0222',GradientType=0 ); /* IE6-9 */
  padding: 20px;
margin-top: 20px;
border-radius: 0 0 12px 12px;
min-height: 100px;
}

footer {
  font-size: .8em;
  margin: 10px;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 600px) {
  header h1 {
    text-align: center;
    padding-left: 0;
    margin: 10px;
  }
  header,
  .top-content {
    flex-wrap: wrap;
  }
  .button-box {
    margin: auto;
    text-align: center;
    width: 100%;
    justify-content: center;
  }

  .top-content .right {
    max-width: 100%;
  }
  .screen{
    background-size: contain;
    padding-top: 50px;
  }
  #pick-rating {
    top: auto;
    bottom: 0;
  }
  .screen-wrapper {
    width: 100%;
    padding-bottom: 75%;
  }
  .pick-genres {
    padding: 5px 10px;
  }
  .genre-tab {
    display: block;
  }
  .top-content .caption {
    background-color: transparent;
  }
  .mobile-only{
    display: block;
    width: 100%;
  }
  .desktop-only {
    display: none;
  }

}