@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Limelight');

* {box-sizing: border-box}

body {
  font-family: 'Lato', 'Verdana', Helvetica, Arial, sans-serif;
  color: lightgrey;
  font-size: 18px;
  background-color: #222020;
background: -moz-linear-gradient(top, #000000 0%, #222020 15%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #000000 0%,#222020 15%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #000000 0%,#222020 15%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#222020',GradientType=0 ); /* IE6-9 */
}

h1 {
  font-family: 'Limelight', Impact;
  font-size: 2em;
  letter-spacing: 1px;
}

h2 {
  font-size: 30px;
  color: #fff;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 1), 2px 2px 0px rgba(0, 0, 0, 1), -2px 2px 0px rgba(0, 0, 0, 1);
  font-style: italic;
  letter-spacing: 2px;
  margin: 8px 5px 15px;
}

img {
  max-width: 100%;
}

a,
a:hover,
button,
button:hover {
  -webkit-transition: .25s; /* Safari */
    transition: .25s;
}

header {
  text-align: left;
  margin-bottom: 15px;
  width: 100%;
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

header h1 {
  color: #ffc400;
  font-size: 2.2em;
  margin: 10px;
}

.fp-container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
.fp-container p {
  margin: 5px;
}

.button-box {
  color: grey;
  font-size: .8em;
  display: flex;
  margin: 12px 12px 0;
  justify-content: flex-end;
}

a.pick-settings {
  font-weight: bold;
  color: #222;
  border-radius: 4px;
  background-color: #005e99;
  border: none;
  height: 45px;
  padding: 5px 10px;
  margin: 0 12px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

a.pick-settings:hover{
  background-color: rgb(80, 188, 255);
  box-shadow: 0px 0px 2px rgba(116, 202, 255, 1);
}

.top-content {
  width: 100%;
  margin: auto;
  display: flex;
  min-height: 400px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);

}

.top-content .left {
  width: 100%;
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
}

.top-content .right {
  width: 100%;
  max-width: 210px;
  text-align: center;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.pick-showtime { 
  color: lightgray;
  background-color: #313131;
  width: 100%;
  padding: 12px;
}
#pick-time {
  color: #fff;
  font-size: 1.8em;
  padding: 5px;
}
#pick-place {
  color: #fff;
  font-size: 1.25em;
  padding: 5px;
}

.pick-RT {
  width: 100%;
  height: auto;
  background-color: rgba(194, 41, 41, 0.3);
  padding: 8px;
}
.pick-critic-box,
.pick-audience-box{
  padding-bottom: 8px;
}
#pick-critic-score,
#pick-audience-score {
  font-size: 1.8em;
}

.top-content .caption {
  height: 100%;
  text-align: left;
  width: 100%;
  font-size: 17px;
  background-color: rgba(128, 128, 128, 0.2);
  padding: 5px 8px;
}

.screen {
  width: 100%;
 height: 400px;
 padding-top: 56.25%;
  background-color: #000;
  background-image: url("../images/loading.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: -1;
}

.screen-wrapper {
  width: 100%;
  height: 400px;
  padding-bottom: 56.25%;
}

.under-screen-wrapper {
  width: 100%;
  height: 100%;
}

#pick-title {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 1), 2px 2px 0px rgba(0, 0, 0, 1), -2px 2px 0px rgba(0, 0, 0, 1);
  position: absolute;
  top: 5px;
  left: 8px;
  letter-spacing: 1px;
}

.pick-genres {
  width: 100%;
  height: auto;
  color: #000;
  font-size: 15px;
  font-style: italic;
  background-color: rgb(0, 77, 125);
  text-align: left;
  overflow: hidden;
}
.genre-tab {
  background-color: rgb(0, 92, 148);
  padding: 5px 10px 5px 20px;
}
#pick-genre-list {
  padding-left: 10px;
}

#pick-route,
#pick-tickets {
  font-style: italic;
  font-size: 1.2em;
  padding: 5px;
  margin: auto;
}

#pick-route, #pick-route a,
div.card-action a {
  color: rgb(28, 187, 255);
}
#pick-route:hover, #pick-route a:hover,
div.card-action a:hover {
  color: rgb(116, 202, 255);
  text-shadow: 0px 0px 2px rgba(116, 202, 255, 1);
}

#pick-tickets, #pick-tickets a {
  color: rgb(255, 136, 0);
}
#pick-tickets:hover, #pick-tickets a:hover {
  color: rgb(252, 172, 24);
  text-shadow: 0px 0px 2px rgba(252, 172, 24, 1);
}

#pick-rating {
  position: absolute;
  font-family: 'Lato';
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  height: 70px;
  width: 70px;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pick-form-btn {
  font-weight: bold;
  width: auto;
  color: #fff;
  border-radius: 4px;
  background-color: #a50000;
  border: none;
  height: 45px;
  padding: 5px 14px;
  margin: 0 12px;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
}
.pick-form-btn:hover {
  background-color: #e75009;
  -webkit-box-shadow: 0 1px 0 0 #e75009;
  box-shadow: 0 1px 0 0 #e75009;
}

.more {
  border-top: 8px #ffc400 solid;
  background: rgb(89,0,14); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(89,0,14,1) 0%, rgba(109,0,25,1) 16%, rgba(143,2,34,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(89,0,14,1) 0%,rgba(109,0,25,1) 16%,rgba(143,2,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(89,0,14,1) 0%,rgba(109,0,25,1) 16%,rgba(143,2,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000e', endColorstr='#8f0222',GradientType=0 ); /* IE6-9 */
  padding: 20px;
margin-top: 20px;
border-radius: 0 0 12px 12px;
min-height: 100px;
-webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
}

.more .content {
  display: flex;
}

footer {
  font-size: .8em;
  padding-top: 10px;
  margin: 10px;
}

.mobile-only {
  display: none;
}


/* materialize edits */

.card {
  color: #333;
  font-size: .8em;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: rgb(0, 152, 218);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: rgb(116, 202, 255);
  text-shadow: none;
}

.modal-content {
  overflow: visible;
}


.input-field label {
  font-style: italic;
}

input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]),
.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #a50000;
  -webkit-box-shadow: 0 1px 0 0 #a50000;
  box-shadow: 0 1px 0 0 #a50000;
}

.input-field .prefix.active,
.input-field .prefix label.active,
input:not([type]):focus:not([readonly])+label, 
input[type=text]:not(.browser-default):focus:not([readonly])+label, 
input[type=password]:not(.browser-default):focus:not([readonly])+label, 
input[type=email]:not(.browser-default):focus:not([readonly])+label, 
input[type=url]:not(.browser-default):focus:not([readonly])+label, 
input[type=time]:not(.browser-default):focus:not([readonly])+label, 
input[type=date]:not(.browser-default):focus:not([readonly])+label, 
input[type=datetime]:not(.browser-default):focus:not([readonly])+label, 
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, 
input[type=tel]:not(.browser-default):focus:not([readonly])+label, 
input[type=number]:not(.browser-default):focus:not([readonly])+label, 
input[type=search]:not(.browser-default):focus:not([readonly])+label, 
textarea.materialize-textarea:focus:not([readonly])+label {
  color: #a50000;
}

[type="checkbox"]:checked+span:not(.lever):before {
  border-bottom-color: #a50000;
  border-right-color: #a50000;
}

.range-field {
  color: #a50000;
}
input[type=range]+.thumb,
[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:after {
  background-color: #a50000;
}

[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:before, 
[type="radio"].with-gap:checked+span:after {
  border-color: #a50000;
}



@media screen and (max-width: 600px) {
  header h1 {
    text-align: center;
    padding-left: 0;
    margin: 10px;
  }
  header,
  .top-content {
    flex-wrap: wrap;
  }
  .top-content,
  .more {
    box-shadow: none;
  }
  .button-box {
    margin: auto;
    text-align: center;
    width: 100%;
    justify-content: center;
  }

  .top-content .right {
    max-width: 100%;
  }
  .screen{
    background-size: contain;
    padding-top: 50px;
  }
  #pick-rating {
    top: auto;
    bottom: 0;
  }
  .screen-wrapper {
    width: 100%;
    padding-bottom: 75%;
  }
  .pick-genres {
    padding: 5px 10px;
  }
  .genre-tab {
    font-weight: bold;
    display: block;
  }
  .top-content .caption {
    background-color: transparent;
  }
  .mobile-only{
    display: block;
    width: 100%;
  }
  .desktop-only {
    display: none;
  }

}